<div id="header-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
			
				<!-- Header -->
				<section id="header">	
					<!-- Logo -->
						<h1><a href="/">Dopetrope</a></h1>
					<!-- Nav -->
						<%- partial("nav") %>
				</section>

			</div>
		</div>
	</div>
</div>